//Primary Colors 
$red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$darkdesaturatedCyan: hsl(167, 40%, 24%); //graphic design text
$darkBlue: hsl(198, 62%, 26%); // photography text
$darkModerateCyan: hsl(168, 34%, 41%); //footer


// Secondary colors


$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Fonts 

$primaryFont:  barlow;
$secondaryFont: fraunces;


@media screen and (min-width:800px) and (max-width:1440px) {
#header-menu-mobile  , .nav-menu , .bar-btn{ display:none}
.mobile-images{ display:none;}
.gallery-mobile{display: none;}
.desktop-images {display:block; }


a:hover { 
    color:$veryDarkDesaturatedBlue;
    background-color: $white;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
    text-transform: uppercase;
    
    
}



a{ color: $white;}

.background { 

    background: url(/images/desktop/image-header.jpg) ;

    height: 800px;
}

    .header {

        
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        
        .header-menu-link , .header-menu-link--contact {
            display: flex;
            
         }
    
  .header-menu-desktop { 

    display: flex;
    justify-content: space-between; 

.header-menu-logo { display: flex; justify-content: flex-start;}

.header-menu-nav { 

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;

.header-menu-link--contact { 
justify-content: center;
background: $white;
padding: 12px;
width: 140px;
color: $darkBlue;
border-radius: 25px;
text-transform: uppercase;
font-weight: 700;

a{ color: $darkBlue;}

}    
}
}
.header-title { 
display: flex; 
flex-direction: column;
height: 200px;
flex-wrap: wrap;
justify-content: center;}

    
}

.flexContainer {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.flexItem2 {
    order: 1;
}




.flexItem1, .flexItem2 , .flexItem3 , .flexItem4 , .flexItem5 , .flexItem6 {
    width: 50%;
    height: auto;
    text-align: center;
    align-self: center;
}
.flexItem1 { order: 2;}
.flexItem3{order: 3;}
.flexItem4 {order: 4;}
.flexItem5{order:5; height: 50rem; }
.flexItem6 {order:6; height: 50rem;  }
.gallery-desktop {

    display: flex;
    flex-direction: row;
}

.flexContainer-testimonials {

    display: flex; 
    padding: 30px;


}

}