
//Primary Colors 
$red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$darkdesaturatedCyan: hsl(167, 40%, 24%); //graphic design text
$darkBlue: hsl(198, 62%, 26%); // photography text
$darkModerateCyan: hsl(168, 34%, 41%); //footer


// Secondary colors


$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Fonts 

$primaryFont: 'Barlow', sans-serif;

$secondaryFont: fraunces;


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {

width: 100%;
font-family: $primaryFont;



}

li {
    list-style: none;
    text-decoration: none;
   


    a {
        text-decoration: none; 
        
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }